.content{
    max-width: 1680px;
    margin: auto;
    background: white;
    box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.70);
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}
 
main {
    padding: 10px;
}