<!-- <div class="divider-banner-top"></div> -->
<div class="banner">
  <mat-nav-list class="navigation">
    <div class="left-menu">
      <a class="link_icon" href ="https://www.facebook.com/BEST.Bucharest/"><fa-icon size="2x" [icon]="faFacebook"></fa-icon></a>
      <a class="link_icon" href ="https://www.instagram.com/best.bucharest/"><fa-icon size="2x" [icon]="faInstagram"></fa-icon></a>
      <a class="link_icon" href ="https://twitter.com/bestbucharest"><fa-icon size="2x" [icon]="faTwitter"></fa-icon></a>
      <a class="link_icon" href="https://www.youtube.com/user/bestbucuresti"><fa-icon size="2x" [icon]="faYoutube"></fa-icon></a>    
    </div>
    <div class="center-menu">
      <mat-list-item routerLink="/home-page" routerLinkActive="active"><span class="navbar_link" translate>NAVBAR.HOME</span></mat-list-item>
      <mat-list-item routerLink="/story-page" routerLinkActive="active"><span class="navbar_link" translate>NAVBAR.STORY</span></mat-list-item>
      <mat-list-item><span class="navbar_link"  translate>NAVBAR.PARTNERS</span></mat-list-item>
      <mat-list-item>
          <mat-menu #eventsMenu="matMenu">
              <tr *ngFor="let event of events">
                  <button (click)='goToEventPage(event.id)' mat-menu-item>{{event.event_name}}</button>
              </tr>
          </mat-menu>
          <button class="mat-list-item" mat-icon-button [matMenuTriggerFor]="eventsMenu">
              <span class="navbar_link"  translate>NAVBAR.EVENTS</span>
          </button>
      </mat-list-item>
      <mat-list-item routerLink="/blog-page" routerLinkActive="active"><span class="navbar_link"  translate>NAVBAR.BLOG</span></mat-list-item>
      <mat-list-item (click)="openCreateForm()"><span class="navbar_link"  translate>NAVBAR.CONTACT</span></mat-list-item>
    </div>
    <div class="right-menu">
      <mat-list-item><span (click)="changeLanguage()" class="flag-border flag-icon flag-icon-{{flagString}}"></span></mat-list-item>
    </div>
    </mat-nav-list>
  <div class='banner-content'>
    <img class="logo" src='../../assets/images/logo.png'>
    <button class="become-member-button " mat-raised-button color='warn' ><span translate>BANNER.BECOME_A_MEMBER</span></button>
    <button class="become-partner-button" mat-raised-button color='primary' ><span translate>BANNER.BECOME_A_PARTNER</span></button>
  </div>
  <div class='banner-social-media'>
    </div>
</div>
<div class="divider-banner-bottom"></div>
