.navigation {
    display: flex;
    justify-content: space-between;
    right: 0;
    position: absolute;
    margin-right: 48px;
    z-index: 3;
}

.mat-list-item {
    color:white;
    font-family: 'KoHo', sans-serif;
}

.banner {
    text-align: center;
    height: 850px;
    width: 100%;
    min-height: calc(100% - 100px);
    background-position: center;
    background-image:
        linear-gradient(black, black),
        url('src/assets/images/banner.jpg');
    background-size: cover;
    background-blend-mode: saturation;
    position: relative;
}

.banner-social-media {
    position: relative;
    align-content: center;
    bottom: 11%;
    left: 3%;
    padding-bottom: 15px;
    color: #fff;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.divider-banner-top {
    height: 50px;
    width: 100%;
    background-color: #2e2f2f;
}

.divider-banner-bottom {
    height: 100px;
    width: 100%;
    background-color: #2e2f2f;
}

.become-member-button {
    position: absolute;
    border-radius: 0px;
    border: 0px;
    color: #fff;
    font-size: 20px;
    bottom: 15%;
    left: 25%;
}

.become-partner-button {
    position: absolute;
    border-radius: 0px;
    border: 0px;
    color: #fff;
    font-size: 20px;
    bottom: 15%;
    right: 25%;
}

.logo {
    left: calc(50% - 350px);
    top: calc(50% - 200px);
    position: absolute;
    width: 700px;
    height: 410px;
}

.banner-content {
    position: relative;
    align-content: center;
    width: 100%;
    height: 100%;
    min-height: 600px;
}

.flag-icon {
    border: 2px solid white;
    background-color: white;
    text-align: center;
}

.mat-list-item:hover {
    background: transparent;
}

.navbar_link:hover {
    border-bottom: 3px solid #ffa615;
    border-radius: 1px;
    padding-top: 3px;
}

span.navbar_link {
    font-size: 20px;
}

.link_icon, .link_icon:hover, .link_icon:active {
    color: #fff;
}