.navigation {
    display: flex;
    justify-content: space-between;
    right: 0;
    margin-right: 48px;
    margin-left: 48px;
    z-index: 3;
}

.mat-list-item {
    color:white;
    font-family: 'KoHo', sans-serif;
}

.banner-home {
    text-align: center;
    height: 850px;
    width: 100%;
    min-height: calc(100% - 100px);
    background-position: center;
    background-image:
        linear-gradient(black, black),
        url('src/assets/images/banner.jpg');
    background-size: cover;
    background-blend-mode: saturation;
    position: relative;
}

.banner-event {
    text-align: center;
    height: 400px;
    width: 100%;
    min-height: calc(100% - 100px);
    background-position: center;
    background-image:
        url('src/assets/images/events.png');
    background-size: cover;
    background-blend-mode: saturation;
    position: relative;
}

.banner-blog {
    text-align: center;
    height: 400px;
    width: 100%;
    min-height: calc(100% - 100px);
    background-position: center;
    background-image:
        url('src/assets/images/partners.png');
    background-size: cover;
    background-blend-mode: saturation;
    position: relative;
}

.banner-partners {
    text-align: center;
    height: 400px;
    width: 100%;
    min-height: calc(100% - 100px);
    background-position: center;
    background-image:
        url('src/assets/images/partners.png');
    background-size: cover;
    background-blend-mode: saturation;
    position: relative;
}


.banner-story {
    text-align: center;
    height: 400px;
    width: 100%;
    min-height: calc(100% - 100px);
    background-position: center;
    background-image:
        url('src/assets/images/story.png');
    background-size: cover;
    background-blend-mode: saturation;
    position: relative;
}

.divider-banner-bottom {
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('src/assets/images/mazga_verde.png');
    background-size: cover;
}

.become-member-button, .become-partner-button {
    position: absolute;
    border-radius: 0px;
    border: 0px;
    color: #fff;
    font-size: 20px;
    bottom: 25%;
    width: 14em;
}

.become-member-button {
    left: 25%;
}

.become-partner-button {
    right: 25%;
}

.logo {
    left: calc(50% - 299px);
    top: calc(35% - 165px);
    position: absolute;
    width: auto;
    height: 330px;
}

.events-text {
    position: relative;
    align-content: center;
    font-family: 'KoHo', sans-serif;
    font-size: 72px;
    color: white;
    margin-top: 50px;
}

.events{
    font-size: 100px;
}

.banner-content {
    position: relative;
    align-content: center;
    width: 100%;
    height: 100%;
    min-height: 600px;
}

.flag-icon {
    border: 1.5px solid white;
    border-radius: 3px;
    background-color: white;
    text-align: center;
    background-size: cover;
}

.mat-list-item:hover {
    background: transparent;
}

.navbar_link:hover {
    border-bottom: 3px solid #ffa615;
    border-radius: 1px;
    padding-top: 3px;
}

span.navbar_link {
    font-size: 20px;
}

.link_icon, .link_icon:hover, .link_icon:active {
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
}

.center-menu, .left-menu {
    display: inline-flex;
}

.left-menu {
    font-size: 11px;
}
