<div>

  <mat-grid-list class="icons" cols="4" rowHeight="2:1">

    <mat-grid-tile>
      <img class="event-icon" src="../../assets/images/img.png">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="event-icon" src="../../assets/images/img.png">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="event-icon" src="../../assets/images/img.png">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="event-icon" src="../../assets/images/img.png">
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card-content>
        <h2 class="h2-title"><span translate>BESTEM.CODING</span></h2>
        <h2 class="h2-title"><span translate>BESTEM.MARATHON</span></h2>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content>
        <h2 class="h2-title one-fifty"><span translate>BESTEM.ONE_FIFTY</span></h2>
        <h2 class="h2-title"><span translate>BESTEM.PARTICIPANTS</span></h2>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content>
        <h2 class="h2-title"><span translate>BESTEM.APRIL</span></h2>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content>
        <h2 class="h2-title twenty-four"><span translate>BESTEM.TWENTY_FOUR</span></h2>
        <h2 class="h2-title"><span translate>BESTEM.HOURS</span></h2>
      </mat-card-content>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-card>
    <mat-card-content>
      <strong><span translate>BESTEM.BESTEM</span></strong>
      <span translate>BESTEM.FIRST_PARAGRAPH</span>
      <span translate>BESTEM.SECOND_PARAGRAPH</span>
    </mat-card-content>
  </mat-card>

  <!-- slick carousel WIP -->
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img src="{{ slide.img }}" alt="" width="100%">
    </div>
  </ngx-slick-carousel>
  
  <mat-card>
    <mat-card-content>
      <span translate>BESTEM.THIRD_PARAGRAPH</span>
    </mat-card-content>
  </mat-card>

  <mat-grid-list class="icons" cols="4" rowHeight="2:1">
    <mat-grid-tile>
      <img class="partner-icon" src="../../assets/images/img.png">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="partner-icon" src="../../assets/images/img.png">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="partner-icon" src="../../assets/images/img.png">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="partner-icon" src="../../assets/images/img.png">
    </mat-grid-tile>
  </mat-grid-list>

  <mat-card>
    <mat-card-content>
      <span translate>BESTEM.LAST_PARAGRAPH</span>
      <a href="#">BESTEM.</a>
    </mat-card-content>
  </mat-card>

</div>