<div class="homepageContainer" 
     fxLayout="row wrap"
     fxLayout.lt-md="column">

  <div class="homepageElement" fxFlex="0 1 calc(40%)" fxFlex.lt-md="90%" fxFlexOrder.lt-md="0">
      <img class="homepageImage" src="../../assets/images/img.png">
  </div> 

  <div class="homepageElement" fxFlex="0 1 calc(40%)" fxFlex.lt-md="90%" fxFlexOrder.lt-md="1">
    <div class="title">
      <h2 class="h2_title"><span translate>HOMEPAGE.OUR</span></h2>
      <h1 class="h1_title" ><span class="blue_title_line" translate>HOMEPAGE.STORY</span></h1>
    </div>
    <div class="description descRight">
      <p><span translate class="our_story_bold">HOMEPAGE.BEST</span>
      <span translate>HOMEPAGE.OUR_STORY</span></p>
    </div>
    <button class="blue_button" mat-raised-button color='warn' ><span translate>HOMEPAGE.STORY_BUTTON</span></button>
  </div>

  <div class="homepageElement" fxFlex="0 1 calc(40%)" fxFlex.lt-md="90%" fxFlexOrder.lt-md="3">
    <div class="title">
      <h2 class="h2_title"><span translate>HOMEPAGE.OUR</span></h2>
      <h1 class="h1_title" ><span class="orange_title_line" translate>HOMEPAGE.EVENTS</span></h1>
    </div>
    <div class="description descLeft">
      <p><span translate>HOMEPAGE.OUR_EVENTS</span></p>
    </div>
    <button class="orange_button" mat-raised-button color='warn' ><span translate>HOMEPAGE.EVENTS_BUTTON</span></button>
  </div>

  <div class="homepageElement" fxFlex="0 1 calc(40%)" fxFlex.lt-md="90%" fxFlexOrder.lt-md="2">
      <img class="homepageImage" src="../../assets/images/img.png">
  </div>

  <div class="homepageElement" fxFlex="0 1 calc(40%)" fxFlex.lt-md="90%" fxFlexOrder.lt-md="4">
      <img class="homepageImage" src="../../assets/images/img.png">
  </div>

  <div class="homepageElement" fxFlex="0 1 calc(40%)" fxFlex.lt-md="90%" fxFlexOrder.lt-md="5">
    <div class="title">
      <h2 class="h2_title"><span translate>HOMEPAGE.OUR</span></h2>
      <h1 class="h1_title" ><span class="green_title_line" translate>HOMEPAGE.PARTNERS</span></h1>
    </div>
    <div class="description descRight">
      <p><span translate>HOMEPAGE.OUR_PARTNERS</span></p>
    </div>
    <button class="green_button" mat-raised-button color='warn' ><span translate>HOMEPAGE.PARTNERS_BUTTON</span></button>
  </div>

  <div class="homepageElement" fxFlex="0 1 calc(40%)" fxFlex.lt-md="90%" fxFlexOrder.lt-md="7">
    <div class="title">
      <h1 class="h1_title" ><span class="blue_title_line" translate>HOMEPAGE.ABOUT</span></h1>
      <h2 class="h2_title"><span translate>HOMEPAGE.US</span></h2>
    </div>
    <div class="description descLeft">
      <p><span translate>HOMEPAGE.ABOUT_US</span></p>
    </div>
    <button class="blue_button" mat-raised-button color='warn' ><span translate>HOMEPAGE.ABOUT_BUTTON</span></button>
  </div>

  <div class="homepageElement" fxFlex="0 1 calc(40%)" fxFlex.lt-md="90%" fxFlexOrder.lt-md="6">
      <img class="homepageImage" src="../../assets/images/img.png">
  </div>

</div>