<app-navigation></app-navigation>

<mat-grid-list cols="2">
    <mat-grid-tile>
      <img class="homepage_images" src="../../assets/images/img.png">
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <div class="title">
          <h2 class="h2_title"><span translate>HOMEPAGE.OUR</span></h2>
          <h1 class="h1_title" ><span class="blue_title_line" translate>HOMEPAGE.STORY</span></h1>
        </div>
        <div class="our_story">
          <span translate class="our_story_bold">HOMEPAGE.BEST</span>
          <span translate>HOMEPAGE.OUR_STORY</span>
        </div>
        <button class="blue_button" mat-raised-button color='warn' ><span translate>HOMEPAGE.STORY_BUTTON</span></button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="left-tile">
        <div class="title">
          <h2 class="h2_title"><span translate>HOMEPAGE.OUR</span></h2>
          <h1 class="h1_title" ><span class="orange_title_line" translate>HOMEPAGE.EVENTS</span></h1>
        </div>
        <div class="our_story">
          <span translate>HOMEPAGE.OUR_EVENTS</span>
        </div>
        <button class="orange_button" mat-raised-button color='warn' ><span translate>HOMEPAGE.EVENTS_BUTTON</span></button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="homepage_images" src="../../assets/images/img.png">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="homepage_images" src="../../assets/images/img.png">
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <div class="title">
          <h2 class="h2_title"><span translate>HOMEPAGE.OUR</span></h2>
          <h1 class="h1_title" ><span class="green_title_line" translate>HOMEPAGE.PARTNERS</span></h1>
        </div>
        <div class="our_story">
          <span translate>HOMEPAGE.OUR_PARTNERS</span>
        </div>
        <button class="green_button" mat-raised-button color='warn' ><span translate>HOMEPAGE.PARTNERS_BUTTON</span></button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="left-tile">
        <div class="title">
          <h1 class="h1_title" ><span class="blue_title_line" translate>HOMEPAGE.ABOUT</span></h1>
          <h2 class="h2_title"><span translate>HOMEPAGE.US</span></h2>
        </div>
        <div class="our_story">
          <span translate>HOMEPAGE.ABOUT_US</span>
        </div>
        <button class="blue_button" mat-raised-button color='warn' ><span translate>HOMEPAGE.ABOUT_BUTTON</span></button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="homepage_images" src="../../assets/images/img.png">
    </mat-grid-tile>

  </mat-grid-list>




<!-- <
  
   <div class="our_story">
          <span translate>HOMEPAGE.LBGS_TODAY</span>
          <span translate class="our_story_bold">HOMEPAGE.LBGS</span>
          <span translate>HOMEPAGE.LBGS_STORY</span>
        </div>
  
  div class="title">
  <h2 class="h2_title"><span translate>HOMEPAGE.OUR</span></h2>
  <h1 class="h1_title"><span translate>HOMEPAGE.STORY</span></h1>
  <div class="green_title_line"></div>
</div>
<div class="our_story">
  <span translate class="our_story_bold">HOMEPAGE.BEST</span>
  <span translate>HOMEPAGE.OUR_STORY</span>
</div>
<div class="lbgs_europe"></div>
<div class="our_story">
  <span translate>HOMEPAGE.LBGS_TODAY</span>
  <span translate class="our_story_bold">HOMEPAGE.LBGS</span>
  <span translate>HOMEPAGE.LBGS_STORY</span>
</div>
<div class="lbgs_romania"></div>
<div class="title">
  <h2 class="h2_title"><span translate>HOMEPAGE.OUR</span></h2>
  <h1 class="h1_title"><span translate>HOMEPAGE.VALUES</span></h1>
  <div class="orange_title_line"></div>
</div>
<div class="values">
  
  <div class="value_first_row">
    <div class="fix_first_row"></div>
    <div class="value_col">
      <div class="icon_flexibility"></div>
      <span translate class="value_flexibility">HOMEPAGE.FLEXIBILITY</span>
    </div>
    <div class="value_col">
      <div class="icon_friendship"></div>
      <span translate class="value_friendship">HOMEPAGE.FRIENDSHIP</span>
    </div>
    <div class="value_col">
      <div class="icon_learning"></div>
      <span translate class="value_learning">HOMEPAGE.LEARNING</span>
    </div>
  </div>
  <div class="value_second_row">
    <div class="fix_second_row"></div>
    <div class="value_col">
      <div class="icon_improvement"></div>
      <span translate class="value_improvement">HOMEPAGE.IMPROVEMENT</span>
    </div>
    <div class="value_col">
      <div class="icon_fun"></div>
      <span translate class="value_fun">HOMEPAGE.FUN</span>
    </div>
  </div>
</div> -->