h1.h1_title {
    font-size: 5em;
    margin-top: 0px;
    z-index: 2;
    position: relative;
    margin-bottom: 0px;
    font-family: 'KoHo', sans-serif;
}

h2.h2_title {
    font-size: 3em;
    margin-bottom: -16px;
    margin-top: -5px;
    z-index: 3;
    font-family: 'KoHo', sans-serif;
    position: relative;
    font-weight: bold;
}

.title {
    padding-top: 60px;
    font-family: 'KoHo', sans-serif;
}

.blue_title_line {
    height: 100%;
    background: linear-gradient(180deg, #fff 50%, #0071b9 50%);
}

.green_title_line {
    height: 100%;
    background: linear-gradient(180deg, #fff 50%, #8ac940 50%);
}

.orange_title_line {
    height: 100%;
    background: linear-gradient(180deg, #fff 50%, #ffa615 50%);
}

.our_story {
    font-size: 30px;
    margin-top: 65px;
    font-family: 'KoHo', sans-serif;
}

.our_story_bold {
    font-weight: bold;
    font-family: 'KoHo', sans-serif;
}

.left-tile {
    text-align: right;
}

.homepage_images {
    width: 65%;
}

.green_button, .blue_button, .orange_button {
    font-family: 'KoHo', sans-serif;
    margin-top: 35px;
    border-radius: 0px;
    box-shadow: unset;
    font-size: 27px;
    color: #fff;
    padding: 2px 40px;
    margin-left: 25%;
    margin-right: 30%;
}

.blue_button {
    background: #0071b9;
}

.green_button {
    background: #8ac940;
}

.orange_button {
    background: #ffa615;
}
