<app-navigation></app-navigation>
<div class="title">
  <h2 class="h2_title"><span translate>HOMEPAGE.OUR</span></h2>
  <h1 class="h1_title"><span translate>HOMEPAGE.STORY</span></h1>
  <div class="green_title_line"></div>
</div>
<div class="our_story">
  <span translate class="our_story_bold">HOMEPAGE.BEST</span>
  <span translate>HOMEPAGE.OUR_STORY</span>
</div>
<div class="lbgs_europe"></div>
<div class="our_story">
  <span translate>HOMEPAGE.LBGS_TODAY</span>
  <span translate class="our_story_bold">HOMEPAGE.LBGS</span>
  <span translate>HOMEPAGE.LBGS_STORY</span>
</div>
<div class="lbgs_romania"></div>
<div class="title">
  <h2 class="h2_title"><span translate>HOMEPAGE.OUR</span></h2>
  <h1 class="h1_title"><span translate>HOMEPAGE.VALUES</span></h1>
  <div class="orange_title_line"></div>
</div>
<div class="values">
  <div class="value_first_row">
    <div class="value_col">
      <div class="icon_flexibility"></div>
      <span translate class="value_flexibility">HOMEPAGE.FLEXIBILITY</span>
    </div>
    <div class="value_col">
      <div class="icon_friendship"></div>
      <span translate class="value_friendship">HOMEPAGE.FRIENDSHIP</span>
    </div>
    <div class="value_col">
      <div class="icon_learning"></div>
      <span translate class="value_learning">HOMEPAGE.LEARNING</span>
    </div>
  </div>
  <div class="value_second_row">
    <div class="value_col">
      <div class="icon_improvement"></div>
      <span translate class="value_improvement">HOMEPAGE.IMPROVEMENT</span>
    </div>
    <div class="value_col">
      <div class="icon_fun"></div>
      <span translate class="value_fun">HOMEPAGE.FUN</span>
    </div>
  </div>
</div>