.title {
    font-family: 'KoHo', sans-serif;
}

.homepageContainer {
    justify-content: space-evenly;
    align-items: center;
}

.homepageElement {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

h1.h1_title {
    font-size: 5em;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'KoHo', sans-serif;
}

h2.h2_title {
    font-size: 3em;
    margin-top: -5px;
    margin-bottom: 0px;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
}

.blue_title_line {
    height: 100%;
    background: linear-gradient(180deg, #fafafa 50%, #0071b9 50%);
}

.green_title_line {
    height: 100%;
    background: linear-gradient(180deg, #fafafa 50%, #8ac940 50%);
}

.orange_title_line {
    height: 100%;
    background: linear-gradient(180deg, #fafafa 50%, #ffa615 50%);
}

.description {
    font-size: 1.8em;
    margin-top: 5vh;
    font-family: 'KoHo', sans-serif;
    text-align: justify;
}

.h2Left {
    text-align: right;
}

.h2Right {
    text-align: left;
}

.descLeft {
    margin-left: 10%;
}

.descRight {
    margin-right: 10%;
}

.our_story_bold {
    font-weight: bold;
    font-family: 'KoHo', sans-serif;
}

.homepageImage {
    width: 65%;
}

.green_button, .blue_button, .orange_button {
    font-family: 'KoHo', sans-serif;
    border-radius: 0px;
    box-shadow: unset;
    font-size: 27px;
    color: #fff;
}

.blue_button {
    background: #0071b9;
}

.green_button {
    background: #8ac940;
}

.orange_button {
    background: #ffa615;
}

/* Phone screen adjustments. */
@media screen and (max-width: 1024px) {
    h1.h1_title {
        font-size: 3em;
    }

    h2.h2_title {
        font-size: 2em;
    }

    .description {
        font-size: 1.2em;
        margin: 10%;
    }

    .h2Left {
        text-align: center;
    }
    
    .h2Right {
        text-align: center;
    }
}
