<mat-grid-list>
  <div class="story-container">
      <div class="circle-right"></div>
      <div class="rectangle"></div>
      <div class="position-second-circle circle-left"></div>
      <div class="position-second-rectangle rectangle"></div>
      <div class="position-third-circle circle-right"></div>
      <div class="last-rectangle"></div>
      <div class="circle-full"></div>
      <div class="circle-full-second circle-full"></div>
      <div class="circle-full-third circle-full"></div>
    </div>
</mat-grid-list>