<div class="story-container">
  <div>
    <div class="circle-right position-first-circle">
      <span class="text text-89">'89</span>
    </div>
    <div class="rectangle"></div>
    <div class="position-second-circle circle-left"><span class="text text-97">'97</span></div>
    <div class="position-second-rectangle rectangle"></div>
    <div class="position-third-circle circle-right"><span class="text text-16">'16</span></div>
    <div class="last-rectangle"></div>
    <div class="circle-full"></div>
    <div class="circle-full-second circle-full"></div>
    <div class="circle-full-third circle-full"></div>
    <div class="text-89-container">
        <span class="text-89-content" translate>STORY.TEXT_89</span>
        <figure class="mat-figure"><img _ngcontent-gtl-c9="" class="image-89" src="../../assets/images/img.png"></figure>
    </div>
    <div class="text-97-container">
        <span class="text-97-content" translate>STORY.TEXT_97</span>
        <figure class="mat-figure"><img _ngcontent-gtl-c9="" class="image-97" src="../../assets/images/img.png"></figure>
    </div>
    <div class="text-16-container">
        <span class="text-16-content" translate>STORY.TEXT_16</span>
        <figure class="mat-figure"><img _ngcontent-gtl-c9="" class="image-16" src="../../assets/images/img.png"></figure>
    </div>
  </div>
    <div class="text-bottom">
      <span class="text-bottom-1" translate>STORY.TEXT_BOTTOM_1</span>
      <span translate>STORY.TEXT_BOTTOM_2</span>
    </div>
    <div class="maps">
        <figure class="mat-figure"><img _ngcontent-gtl-c9="" class="map" src="../../assets/images/img.png"></figure>
        <figure class="mat-figure"><img _ngcontent-gtl-c9="" class="map" src="../../assets/images/img.png"></figure> 
    </div>

    <div class="values">
        <div class="value_first_row">
          <div class="value_col">
            <figure class="margin-bottom-figure mat-figure"><img _ngcontent-gtl-c9="" class="icon-values" src="../../assets/images/img.png"></figure>
            <span translate class="value_flexibility">VALUES.FLEXIBILITY</span>
          </div>
          <div class="value_col">
            <figure class="margin-bottom-figure mat-figure"><img _ngcontent-gtl-c9="" class="icon-values" src="../../assets/images/img.png"></figure>
            <span translate class="value_friendship">VALUES.FRIENDSHIP</span>
          </div>
          <div class="value_col">
            <figure class="margin-bottom-figure mat-figure"><img _ngcontent-gtl-c9="" class="icon-values" src="../../assets/images/img.png"></figure>
            <span translate class="value_learning">VALUES.IMPROVEMENT</span>
          </div>
        </div>
        <div class="value_second_row">
          <div class="value_col">
            <figure class="margin-bottom-figure mat-figure"><img _ngcontent-gtl-c9="" class="icon-values" src="../../assets/images/img.png"></figure>
            <span translate class="value_improvement">VALUES.LEARNING</span>
          </div>
          <div class="value_col">
            <figure class="margin-bottom-figure mat-figure"><img _ngcontent-gtl-c9="" class="icon-values" src="../../assets/images/img.png"></figure>
            <span translate class="value_fun">VALUES.FUN</span>
          </div>
        </div>
      </div>
</div>