<div>

  <mat-card>
    <mat-card-content>
      <span translate>EVENT.FIRST</span>
    </mat-card-content>
  </mat-card>

  <mat-grid-list class="logos" cols="4" rowHeight="2:1">
    <mat-grid-tile>
      <img class="event-logo" src="../../assets/images/img.png">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="event-logo" src="../../assets/images/img.png">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="event-logo" src="../../assets/images/img.png">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="event-logo" src="../../assets/images/img.png">
    </mat-grid-tile>
  </mat-grid-list>

  <mat-card>
    <mat-card-content>
      <span translate>EVENT.SECOND_PART1</span>
      <span class="special-text" translate>EVENT.INTERNAL_EVENTS</span>
      <span translate>EVENT.SECOND_PART2</span>
    </mat-card-content>
  </mat-card>

</div>