mat-form-field{
    width: 90%;
    margin: 1%;
}

mat-card-title{
    text-align: center;
    margin: auto;
}

mat-card {
    box-shadow: none !important;
    margin: 2%;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.contact-item {
    text-align: center;
    flex: 50%;
    margin: auto;
}

.contact-text{
    color: black;
    font-family: 'KoHo', sans-serif;
    font-size:18px;
    /* margin: 2%; */
}
