<div class="contact-container">

    <mat-card class="contact-item">

        <mat-card-title><span translate>CONTACT_FORM.TITLE</span></mat-card-title>

        <form [formGroup]="contactForm" autocomplete="off" novalidate (ngSubmit)="onSubmit(contactForm.value)">

            <div>
                <mat-form-field>
                    <input matInput type="text" placeholder="{{'CONTACT_FORM.NAME' | translate}}" formControlName="name"
                        id="name">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="hasError('name', 'required')">{{'CONTACT_FORM.ERR_FIELD_EMPTY' | translate}}
                    </mat-error>
                    <mat-error *ngIf="hasError('name', 'maxlength')">{{'CONTACT_FORM.ERR_MAX_CHARS' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <input matInput type="text" placeholder="{{'CONTACT_FORM.EMAIL' | translate}}"
                        formControlName="email" id="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="hasError('email', 'required')">{{'CONTACT_FORM.ERR_FIELD_EMPTY' | translate}} </mat-error>
                    <mat-error *ngIf="hasError('email', 'maxlength')">{{'CONTACT_FORM.ERR_MAX_CHARS' | translate}}</mat-error>
                    <mat-error *ngIf="hasError('email', 'email')">{{'CONTACT_FORM.ERR_INVALID_EMAIL' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <input matInput type="text" placeholder="{{'CONTACT_FORM.SUBJECT' | translate}}"
                        formControlName="subject" id="subject">
                    <mat-icon matSuffix>subject</mat-icon>
                    <mat-error *ngIf="hasError('subject', 'required')">
                        {{'CONTACT_FORM.ERR_FIELD_EMPTY' | translate}}
                    </mat-error>
                    <mat-error *ngIf="hasError('subject', 'maxlength')">{{'CONTACT_FORM.ERR_MAX_CHARS' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <textarea matInput type="text" placeholder="{{'CONTACT_FORM.CONTENT' | translate}}"
                        formControlName="content" id="content" matTextareaAutosize matAutosizeMinRows=10
                        matAutosizeMaxRows=10></textarea>
                    <mat-error *ngIf="hasError('content', 'required')">{{'CONTACT_FORM.ERR_FIELD_EMPTY' | translate}}
                    </mat-error>
                    <mat-error *ngIf="hasError('content', 'maxlength')">{{'CONTACT_FORM.ERR_MAX_CHARS_CONTENT' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" [disabled]="!contactForm.valid"><span
                    translate>CONTACT_FORM.BUTTON</span></button>
        </form>

    </mat-card>

    <mat-card class="contact-item">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11394.974993268188!2d26.04300896977539!3d44.43841840000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b201c3dbebeb93%3A0x3430edb769db1b1f!2sRectorat!5e0!3m2!1sen!2sro!4v1569257462199!5m2!1sen!2sro" width="400" height="300" frameborder="0" style="border:0; margin: 5%;" allowfullscreen=""></iframe>
        <mat-card-content>
            <span class="contact-text" translate>FOOTER.UNIVERSITY</span>
            <br>
            <span class="contact-text" translate>FOOTER.ADDRESS</span>
        </mat-card-content>
    </mat-card>

</div>