.footer {
    height: 350px;
    width: 100%;
    margin-top: 100px;
    background-color: #2e2f2f;
    position: relative;
}

.copyright-text {
    color:white;
    font-style: italic;
    font-family: 'KoHo', sans-serif;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.footer-text{
    color:white;
    font-family: 'KoHo', sans-serif;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size:20px;
}

.footer-top-text{
    top:10%;
}

.footer-best-bucharest-text{
    top:55%;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-university-text{
    top:65%;
}

.footer-address-text{
    top:75%;
}

.footer-email-input{
    padding-left: 24px;
    top: 35%;
    background-color: white;
    border-radius: 24px;
    padding-right: 24px;
    max-height: 100px;
    height: 12%;
    padding-top: 4px;
    font-size:12px;
}

.footer-button{
    margin-left:24px;
    border-radius: 48px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: 'KoHo', sans-serif;
    font-size: 16px;
}

.subscribe{
    top: 30%;
    display: flex;
}