<div class="footer">
    <span class="footer-text footer-top-text" translate>FOOTER.TOP_TEXT</span>
    <span class="footer-text footer-best-bucharest-text" translate>BEST_BUCHAREST</span>
    <div class="subscribe footer-text">
        <div class='footer-email-input'>
                <mat-form-field>
                    <input matInput placeholder="Email">
                </mat-form-field>
        </div>
        <button class="footer-button" mat-flat-button color="primary"><span translate>FOOTER.SUBSCRIBE</span></button>
    </div>

    <span class="footer-text footer-university-text" translate>FOOTER.UNIVERSITY</span>
    <span class="footer-text footer-address-text" translate>FOOTER.ADDRESS</span>
    <span class="copyright-text ">©Copyright BEST Bucharest 2019</span>
</div>
