<div class="footer">
    <p class="footer-text">
        <span translate>FOOTER.TOP_TEXT</span>
    </p>

    <div class="subscribe">
        <div class='footer-email-input'>
                <mat-form-field>
                    <input matInput placeholder="Email">
                </mat-form-field>
        </div>
        <button class="footer-button" mat-flat-button color="primary">
            <span translate>FOOTER.SUBSCRIBE</span>
        </button>
    </div>

    <p class="footer-text">
        <strong><span translate>BEST_BUCHAREST</span><br></strong>
        <span translate>FOOTER.UNIVERSITY</span><br>
        <span translate>FOOTER.ADDRESS</span><br>
        <em>©Copyright BEST Bucharest 2019</em><br>
    </p>
</div>
