.footer {
    height: 350px;
    width: 100%;
    margin-top: 100px;
    background-color: #2e2f2f;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.copyright-text {
    color:white;
    font-style: italic;
    font-family: 'KoHo', sans-serif;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.footer-text{
    color:white;
    font-family: 'KoHo', sans-serif;
    font-size: 20px;
    margin: auto;
    width: 100%;
    text-align: center;
}

.subscribe{
    top: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footer-email-input {
    background-color: white;
    border-radius: 24px;
    padding-inline: 20px;
    margin-right: 2%;
}

.footer-button{
    border-radius: 48px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: 'KoHo', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-left: 2%;
}

@media screen and (max-width: 600px) {
    .footer-text {
        font-size: 17px;
    }

    .footer-button {
        margin-top: 3%;
        margin-right: 3%;
    }

    .footer-email-input {
        margin-left: 3%;
    }
}