<mat-nav-list>
      <mat-list-item routerLink="/home-page" routerLinkActive #homepagerla="routerLinkActive" (click)="onSidenavClose()">
        <span class="navbar_link" translate>NAVBAR.HOME</span>
      </mat-list-item>

      <mat-list-item routerLink="/story-page" routerLinkActive #storypagerla="routerLinkActive" (click)="onSidenavClose()">
        <span class="navbar_link" translate>NAVBAR.STORY</span>
      </mat-list-item>

      <mat-list-item routerLink="/partners-page" routerLinkActive #partnerspagerla="routerLinkActive" (click)="onSidenavClose()">
        <span class="navbar_link" translate>NAVBAR.PARTNERS</span>
      </mat-list-item>

      <mat-list-item routerLink="/event-page" routerLinkActive #eventpagerla="routerLinkActive" (click)="onSidenavClose()">
        <span class="navbar_link" translate>NAVBAR.EVENTS</span>
      </mat-list-item>

      <mat-list-item routerLink="/blog-page" routerLinkActive #blogpagerla="routerLinkActive" (click)="onSidenavClose()">
        <span class="navbar_link" translate>NAVBAR.BLOG</span>
      </mat-list-item>

  </mat-nav-list>